//MARGIN

.m-auto{
    margin-left: auto;
    margin-right: auto;
}

.mb-44{
    .font-64;
    margin-bottom: 0.68em;
}

.mb-105{
    margin-bottom: 1.09em;
}

.mb-134{
    margin-bottom: 2.09em;
}

.mb-175{
    margin-bottom: clamp(60px, 175vw * @px2vw, 175px)
}


//PADDING

.py-64{
    .font-64;
    padding-top: 1em;
    padding-bottom: 1em;
}

.px-92{
    .font-64;
    padding-left: 1.4em;
    padding-right: 1.4em;
}

.pt-h{
    padding-top: clamp(60px, 229vw * @px2vw, 229px);
}

