//MARGIN

.m-auto{
    margin-left: auto;
    margin-right: auto;
}

    // FONT-96

    .mb-105{
        margin-bottom: 1.09em;
    }

    // FONT-64

    .mb-44{
        .font-64;
        margin-bottom: 0.68em;
    }

    .mb-80{
        margin-bottom: 1.25em;
    }

    .mb-134{
        margin-bottom: 2.09em;
    }

    .mb-148{
        margin-bottom: 2.31em;
    }

    //PX

    .mb-175{
        margin-bottom: clamp(60px, 175vw * @px2vw, 175px)
    }

    .mb-193{
        margin-bottom: clamp(80px, 193vw * @px2vw, 193px);
    }

    .mb-214{
        margin-bottom: clamp(80px, 214vw * @px2vw, 214px);
    }

    .mb-360{
        margin-bottom: clamp(100px, 360vw * @px2vw, 360px);
    }


//PADDING

.py-64{
    .font-64;
    padding-top: 1em;
    padding-bottom: 1em;
}

.px-92{
    .font-64;
    padding-left: 1.4em;
    padding-right: 1.4em;
}

.pt-h{
    padding-top: clamp(60px, 229vw * @px2vw, 229px);
}

//OTHERS

.cols-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: clamp(10px, 30vw * @px2vw, 30px);
}