.contacts{
    .pt-h;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5vw;
    position: relative;
    color: @white;
    flex-grow: 1;

    video{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        filter: brightness(40%);
    }
    
    &__info{
        .fw-light;
        .text-center;
        .uppercase;

        h1{
            .font-96;
            margin-bottom: 0.37em;
        }

        margin-bottom: clamp(50px, 167vw * @px2vw, 167px);

        &__text{
    
            p{
                .font-secondary;
                .fw-light;
                .font-20;
                .letterSpacing(7%);
                margin-bottom: 0.6em;
            }
        }

        &__text-2{
            display: flex;
            justify-content: center;
            gap: 16px;

            & > * {
                display: flex;
                align-items: center;
                gap: 3px;
            }

            p {
                margin-bottom: 0;
                .fw-book;
                border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            }
        }

        &__text-3{
            p {
                .font-16;
            }
        }
    }

    &__form{
        padding-bottom: 3.05em;
    }
}
