.contacts{
    .pt-h;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5vw;
    position: relative;
    color: @white;
    flex-grow: 1;

    video{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        filter: brightness(40%);
    }
    
    &__info{
        .fw-light;
        .text-center;
        .uppercase;

        h1{
            .font-96;
            margin-bottom: 0.37em;
        }

        margin-bottom: clamp(50px, 167vw * @px2vw, 167px);

        &__text{
            .font-secondary;
            .fw-light;
            letter-spacing: 0.07em;
            margin-bottom: 0.6em;

            p{
                .font-20;
            }
        }

        &__text-2{
            display: flex;
            justify-content: center;
            gap: 16px;
            margin-bottom: 10px;
            margin-top: 15px;

            @media screen and (max-width: @tablet-l) {
                flex-direction: column;
                align-items: center;
                gap: 8px;
            }

            & > * {
                display: flex;
                align-items: center;
                gap: 3px;
            }

            p {
                .fw-book;
                border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            }
        }

        &__text-3{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 6px;
            
            p {
                .font-16;
                margin: 0;
            }
        }
    }

    &__form{
        padding-bottom: 3.05em;
    }

    .checkbox{
        label{
            span{
                align-items: center;
            }
        }
    }

    .button{
        position: relative;
        margin-left: 17px;
        
        span{
            .uppercase;
        }

        &::before{
            content: '';
            background-image: url('../../img/icons/arrow-right.svg');
            background-repeat: no-repeat;
            .font-48;
            position: absolute;
            height: 100%;
            width: 20%;
            transform: translate(-120%);
            left: 0;
            top: 0;
        }
    }
}
