.cta{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 6px;
    color: @black;
    border-bottom: 1px solid @black;
    text-transform: uppercase;
    .font-16;
    cursor: pointer;
}