.cta{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 6px;
    border-bottom: 1px solid @black;
    text-transform: uppercase;
    .font-16;
    cursor: pointer;

    @media screen and (max-width: @mobile-l) {
        height: 40px;
    }
}