.footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    flex-grow: 0;
    .font-15;
    padding: clamp(80px, 165vw * @px2vw, 165px) clamp(10px, 128vw * @px2vw, 128px) clamp(60px, 241vw * @px2vw, 241px);
    .font-secondary;
    gap: clamp(10px, 90vw * @px2vw, 90px);
    position: relative;
    overflow: hidden;

    @media screen and (max-width: @tablet-l) {
        gap: 0;
    }

    @media screen and (max-width: @tablet-m) {
        display: block;
    }

    // @media screen and (max-width: @tablet-l) {
    //     flex-direction: column;
    //     gap: 15px;
    //     height: auto;
    //     padding: 40px 0;
    //     text-align: center;
    // }

    a{
        color: inherit;
    }

    &__info{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: clamp(20px, 174vw * @px2vw, 174px);

        @media screen and (max-width: @tablet-l) {
            gap: 0;
        }

        @media screen and (max-width: @tablet-m) {
            margin-bottom: 100px;
            text-align: center;
            justify-items: center;
        }

        @media screen and (max-width: @mobile-l) {
            grid-template-columns: 1fr;
            gap: 30px
        }

        &__agency,
        &__contacts{
            width: clamp(200px, 240vw * @px2vw, 240px);

            div > * {
                opacity: 80%;
            }

            span{
                display: block;
                .fw-medium;
                .uppercase;
                margin-bottom: 0.8em;
            }

            p{
                line-height: 1.4em;
            }
        }

        label{
            .fw-medium;
            .font-16;
            text-transform: uppercase;
            margin-bottom: 0.3em;
        }
    }

    &__social{
        display: flex;
        gap: 6.69px;
        // @media screen and (max-width: @tablet-l) {
        //     margin-left: 0;
        // }
    }

    &__legal{
        width: fit-content;
        display: grid;
        grid-template-columns: 1fr;
        text-transform: uppercase;
        justify-items: end;
        row-gap: clamp(15px, 22.69vw * @px2vw, 22.69px);
        color: black;
        margin-left: auto;

        @media screen and (max-width: @tablet-m) {
            margin: auto;
            justify-items: center;
        }

        svg{
            width: 29px;
            height: 29px;
        }
        
        .menu{
            opacity: 50%;
            display: flex;
            align-items: center;
        }
    }

    .menu{
        display: flex;
        align-items: center;
        gap: clamp(10px, 30vw * @px2vw, 30px);

        @media screen and (max-width: @mobile-l) {
            flex-direction: column;
            margin-top: 10px;
        }
    }

    &__bottom{
        font-family: @main-font;
        text-transform: uppercase;
        color: @blue-light;
        opacity: 30%;
        width: 100%;
        text-align: center;
        .font-120;
        position: absolute;
        bottom: -0.19em;
        left: 0;
    }

    &--contacts{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

        .footer{
            grid-template-columns: 1fr;

            &__info{
                display: none;
            }
    
            &__legal{
                color: @light-text-color;
                .text-center;
                margin: auto;
                justify-items: center;
    
                svg{
                    path{
                        fill: @footer-color-secondary;
                    }
                }
            }
    
            &__bottom{
                color: @light-text-color;
            }
        }
    }

    .copyright{
        display: flex;
        align-items: end;
        gap: 3px;
        margin: 0;

        span{
            margin-bottom: 2px;
        }

        @media screen and (max-width: @tablet-m) {
            justify-content: center;
        }
    }
}