.footer {
    display: flex;
    align-items: center;
    .font-15;
    padding: clamp(30px, 165vw * @px2vw, 165px) clamp(10px, 128vw * @px2vw, 128px) clamp(130px, 241vw * @px2vw, 241px);
    .font-secondary;
    gap: clamp(10px, 90vw * @px2vw, 90px);
    position: relative;
    overflow: hidden;


    @media screen and (max-width: @tablet-l) {
        flex-direction: column;
        gap: 15px;
        height: auto;
        padding: 40px 0;
        text-align: center;
    }

    a{
        color: inherit;
    }

    &__info{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: clamp(20px, 174vw * @px2vw, 174px);

        &__agency{
            width: clamp(100px, 240vw * @px2vw, 240px)
        }

        label{
            .fw-medium;
            .font-16;
            text-transform: uppercase;
            margin-bottom: 0.3em;
        }

        p{
            font-weight: 400;
        }
    }

    &__social{
        margin-left: auto;

        @media screen and (max-width: @tablet-l) {
            margin-left: 0;
        }
    }

    &__legal{
        display: flex;
        text-transform: uppercase;
        opacity: 50%;
        justify-content: center;
        gap: 10px;
        color: black;
        margin-left: auto;
    }

    .menu{
        display: flex;
        align-items: center;
        gap: clamp(10px, 30vw * @px2vw, 30px);

        @media screen and (max-width: @tablet-l) {
            flex-wrap: wrap;
            gap: 1em;
            justify-content: center;
        }
    }

    &__bottom{
        font-family: @main-font;
        text-transform: uppercase;
        color: @blue-light;
        opacity: 30%;
        width: 100%;
        text-align: center;
        .font-120;
        position: absolute;
        bottom: -0.19em;
        left: 0;
    }
}
