.hamburger{
    display: block;
    width: 97px;
    height: 97px;
    background-color: @black;
    border-radius: 1000px;
    position: relative;
    cursor: pointer;
    span{
        position: absolute;
        height: 1px;
        background: @white;
        width: clamp(22px, 44vw * @px2vw, 44px);
        left: 50%;
        right: 0;
        top: 50%;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        transition: 500ms @easeOutQuad;

        .body--light-header:not(.body--scroll) &{
            background: @light-text-color;
        }
        
        &:first-child{
            transform: translate(-50%,-50%) translate3d(0,-9px, 0);
            -webkit-transform: translate(-50%,-50%) translate3d(0,-9px, 0);
        }

        &:last-child{
            transform: translate(-50%,-50%) translate3d(0,9px, 0);
            -webkit-transform: translate(-50%,-50%) translate3d(0,9px, 0);
        }

        @media screen and(max-width: @tablet-m){
            width: 45px;
        }
        @media screen and(max-width: @mobile-l){
            width: 40px;
        }
    }

}
