.info{
    .text-center;
    .m-auto;
    .container-text;
    transition: 0.5s ease-in-out;

    h2{
        margin-bottom: 0.23em;
    }

    p{
        .m-auto;
        width: clamp(320px, 587vw * @px2vw, 587px);
        .font-18;
        .font-secondary;
        .fw-book;
        margin-bottom: clamp(12px, 25vw * @px2vw, 25px);
    }
}