.list{
    width: clamp(300px, 823vw * @px2vw, 823px);
    list-style: none;

    li{
        width: 100%;
        border-bottom: 1px solid @black;
        display: flex;
        justify-content: space-between;
        .font-18;
        padding-bottom: 0.6em;
        margin-bottom: 2.11em;
    }
}