.product{

    &__title{
        margin-bottom: 1.34em;

        h1{
            margin-bottom: 0.26em;
        }
    }
    
    &__preview{
        width: clamp(300px, 750vw * @px2vw, 750px);

        img{
            filter: brightness(60%);
        }
    }

    &__gallery{
        
    }
}
