.triple-img{
    position: relative;
    overflow: hidden;

    &--products{
        height: clamp(300px, 985vw * @px2vw, 985px);

        img{
            position: absolute;
        }

        & :first-child{
            bottom: clamp(30px, 190vw * @px2vw, 190px);
            left: 0;
            transform: translateX(-2.5em);
            width: clamp(150px, 567vw * @px2vw, 567px);
        }

        & :nth-child(2){
            top: clamp(20px, 97vw * @px2vw, 97px);
            left: 51%;
            transform: translate3d(-50%, 30%, 0);
            width: clamp(150px, 445vw * @px2vw, 445px);

            @media screen and (max-width: @mobile-l) {
                left: 65%;
            }
        }

        & :nth-child(3){
            bottom: 0;
            right: 0;
            transform: translateX(2.5em);
            width: clamp(150px, 547vw * @px2vw, 547px);
        }
    }

    &--secondary{
        height: clamp(300px, 822vw * @px2vw, 822px);

        img{
            position: absolute;
        }

        & :first-child{
            bottom: 0;
            left: 0;
            transform: translateX(-2.5em);
            width: clamp(200px, 547vw * @px2vw, 547px);
        }

        & :nth-child(2){
            top: clamp(20px, 97vw * @px2vw, 97px);
            left: clamp(60px, 545vw * @px2vw, 545px);
            width: clamp(130px, 425vw * @px2vw, 425px);

            @media screen and (max-width: @mobile-m) {
                left: 60px;
            }
        }

        & :nth-child(3){
            top: 0;
            right: 0;
            transform: translateX(2.5em);
            width: clamp(200px, 547vw * @px2vw, 547px);
            height: clamp(210px, 735vw * @px2vw, 735px);
        }
    }
}