.home{
    &__hero{
        position: relative;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        &__content{
            background-color: #0E0E0EE6;
            display: flex;
            align-items: center;
            flex-direction: column;

            h1{
                color: @white;
                text-transform: uppercase;
            }
        }

        video{
            z-index: -1;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            object-fit: cover;
            filter: brightness(0.5);
        }

        &__img{
            width: clamp(100px, 287vw * @px2vw, 287px);
            height: clamp(90px, 194vw * @px2vw, 194px);

            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

}