.home{
    &__hero{
        position: relative;
        height: 100vh;
        width: 100%;
        color: @white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2.85rem;

        &__content{
            background-color: #0E0E0EE6;
            display: grid;
            grid-template-columns: 1fr;
            justify-items: center;
            text-transform: uppercase;
            padding: clamp(20px, 64vw * @px2vw, 64px) 0 clamp(50px, 111vw * @px2vw, 111px);

            h1{
                width: clamp(300px, 850vw * @px2vw, 850px);
                margin-bottom: 0.53em;
            }
        }

        video{
            z-index: -1;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(0.5);
        }

        &__img{
            width: clamp(100px, 287vw * @px2vw, 287px);
            height: clamp(90px, 194vw * @px2vw, 194px);

            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &__scroll{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: clamp(8px, 11.21vw * @px2vw, 11.21px);
        }
    }

    &__new-product{
        height: clamp(300px, 883vw * @px2vw, 883px);
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        margin-bottom: clamp(20px, 86vw * @px2vw, 86px);
    }

    .swiper-wrapper{
        -webkit-transition-timing-function:linear;    
        transition-timing-function:linear; 
        position: relative;
    }

    .swiper-slide{
        position: relative;
        overflow: hidden;
    }
}